.content{
    display: grid;
    grid-template-columns: 1440px;
    justify-items: center;
    align-items: center;
    
}
.qr-code{
    grid-column: 1/2;
    width:288px;
    height:288px;
    border-radius: 30;
}
.main-p{
    grid-column: 1/2;
}
.instruction-p{
    grid-column: 1/2;

}
