.content{
    display: grid;
    grid-template-columns: 350px;
    justify-content: center;
    background-color: #D5E1EF;


}



    


.qr-code{
    width: 10%;
}
.main-p{
    
    
}
.instruction-p{



}
.attribution{
    
}
body{
    background-color: #D5E1EF;
}

