.content{
  
   
  background-color: antiquewhite;
  width: 350x;
  height: 500px;
  place-self: center;
  margin: 20px;
    


}
article{
    width: 100%;
  min-height: 100vh;
  background:#f8fcfe ;
  display: grid;
}


    


.qr-code{
    
    width: 60%;
    border-radius: 20px;
}
.main-p{
    
    
}
.instruction-p{



}
.attribution{
    
}
body{
    /* background-color: #D5E1EF; */
}

