.content{
    display: flex;
    flex-direction;
    /* justify-items: center;
    align-items: center;*/
    justify-content: center;
    align-content:stretch; 
    border-radius: 20px;
    background-color: white;

    /* width:min-content; */
    /* gap:20px; */

}
.qr-code{
    grid-column: 2/3;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    width:33%;
}
.main-p{
    grid-column: 2/3;
    font-size: 22px;
    text-align: center;
    /* font */
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    
}
.instruction-p{
    grid-column: 2/3;
    font-weight:400;


}
body{
    background-color: #D5E1EF;
}

