.content{
  
   
  /* background-color: antiquewhite;
  width: 350x;
  height: 500px;
  place-self: center;
  border-radius: 20px; */
    
  width: 350px;
  height: 350px;
  /* border-radius: 50%; */
  background-color: ;

}
article{
    /* width: 100%;
  min-height: 100vh;
  background:#f8fcfe ;
  display: grid; */
  width: 500px;
  height: 250px;
  margin: 50px;
  /* outline: solid 1px black; */
  display: flex;
  justify-content: center;
  align-items: center;
 

}

.qr-code{
    /* margin: 20px;
    width: 60%;
    border-radius: 20px;
    justify-self: center;
    align-self: center; */
}
.main-p{
    

}
.instruction-p{



}
.attribution{
    
}
body{
    /* background-color: #D5E1EF; */
}

