.content{
    display: grid;
    grid-template-columns: 350px;
    

}



    


.qr-code{
  
}
.main-p{
    
    
}
.instruction-p{
    grid-column: 2/3;
    font-weight:400;
    text-align: center;


}
.attribution{
    
}
body{
    background-color: #D5E1EF;
}

