.content{
    display: grid;
    flex-direction: column;

}
.content > div{
    width:330px;
    height: auto;
    background-color: #fcfcfc;

    

}
.qr-code{
  
}
.main-p{
    
    
}
.instruction-p{
    grid-column: 2/3;
    font-weight:400;
    text-align: center;


}
.attribution{
    
}
body{
    background-color: #D5E1EF;
}

