.content{
    display: grid;
    grid-template-columns: 350px;
    justify-content: center;
    ba

}



    


.qr-code{
  
}
.main-p{
    
    
}
.instruction-p{



}
.attribution{
    
}
body{
    background-color: #D5E1EF;
}

