.content{
    display: grid;
    grid-template-columns: 300px;
    /* justify-items: center;
    align-items: center;*/
    justify-content: center;
    align-content:center; 
    border-radius: 20px;
    background-color: white;
    /* width:min-content; */
    /* gap:20px; */
}
.qr-code{
    grid-column: 1/2;
   33
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    width:min-content;
}
.main-p{
    grid-column: 1/2;
    font-size: 22px;
    text-align: center;
    /* font */
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    
}
.instruction-p{
    grid-column: 1/2;
    font-weight:400;


}
body{
    background-color: #D5E1EF;
}

