*{
  box-sizing:border-box;
}
.content {
  
   
  /* background-color: antiquewhite;
  width: 350x;
  height: 500px;
  place-self: center;
  border-radius: 20px;
     */


}
article{
    /* width: 100%;
  min-height: 100vh;
  background:#f8fcfe ;
  display: grid; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;

}
article div{
  width: 250px;
  height: 350px;
  background-color: white;
  border-radius: 20px;
}

.qr-code{
     margin: 20px;
    width: 200px;
    border-radius: 20px;
    justify-self: center;
    align-self: center; 
}
.main-p{
    

}
.instruction-p{



}
.attribution{
    
}
body{
    /* background-color: #D5E1EF; */
    min-height: 100vh;
}

